@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Playfair Display', serif; */

/* navbar.css */

.navbar{
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  line-height: 26px;
  text-transform: uppercase;
  box-shadow: 0px 8px 6px -6px gray;
  --webkit-box-shadow: 0 8px 6px -6px gray;
  border-bottom: 0.5px solid gray !important;
}

.navlink{
  font-weight: 300;
}
.active{
  border-bottom: 2px solid #336699;
}

.navbar-brand
{
  font-weight: 700;
  font-family: robot;
  letter-spacing: 3px;
}

/* Footer.css */

.footer
{
  color: white;
  padding: 25px;
  background: #000000; /*fall back  */
  background: -webkit-linear-gradient(
    to right,
    #434343,
    #000000
  );           /* For chrome*/
  background: linear-gradient(to right, #434343, #000000);
}

.footer a {
  text-decoration: none;
  color: white;
  padding: 10px;

}
.footer a:hover{
  color: #ffefba;
  border-bottom: 1px solid #ffefba;
}

/* pagenotfound.css */
.container
{
    /* border: 2px solid red; */
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
.img-fluid
{
    max-width: 100%;
    height: auto;
}
#error_banner .error_text h1 {
    font-size: 34px;
    font-weight: 700;
    color: #333;
    line-height: 1.2;
    letter-spacing: 0;
}

#error_banner .error_text p {
    font-size: 14px;
    font-weight: 400;
    color: #999;
    padding: 15px 0 30px 0;
}

.error_text
{
    /* border: 2px solid blue; */
    padding-top:3px;
    /* color: #333; */
    padding-bottom: 3px;
}
.error_text span
{
    color: #fd7e14;
    font-size: 30px;
    padding-bottom: 300px;
}
.text-center
{
    text-align: center!important;
}
#error_banner .error_text a
{
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    /* margin-top: 200px;
    margin-bottom: 200px; */
    padding: 15px 25px;
    background: #333;
    border-radius: 5px;
    text-decoration: none;
}

#error_banner .error_text a:hover
{
    color: #fff;
    background-color: #3345;
}


/* ========================================= */
/* =========contact us ========= */
.contactus {
  margin: 0;
  padding: 0;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* =====================================
=========Register page=============== */

.register
{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 70vh;
	flex-direction: column;
}



/* =====================================
=========Login page=============== */


.Login
{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 70vh;
	flex-direction: column;
}
